{% extends 'src/auth_base.html' %}

{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="card text-center align-items-center my-5">
        <div class="my-5 px-3">
            <h5>Password Reset Success</h5>
            <p>Your password is now changed. You can now go ahead and login</p>

            <a href="{% url 'account_login' %}">
                <button class="btn btn-dark w-100 mt-3 p-2">Login here</button>
            </a>

        </div>
    </div>
</div>
{% endblock %}
