{% extends 'src/auth_base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

    <!--================login_part Area =================-->
    <section class="login_area section_padding">
        <div class="container my-5">
            <div class="card text-center align-items-center">
                {% include 'account/messages.html' %}

                <h3 class="mt-5 px-3">Forgot Password? </h3>
                <p class="px-3">Enter the email address you registered with and we will send you a password
                    <br>reset link in your email
                </p>
                <form class="row mb-5 px-3" method="post">
                    {% csrf_token %}
                    <div class="col-md-12 form-group p_star">
                        {{ form.email|add_class:"form-control" }}
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="btn btn-dark w-100 mt-3 p-2">
                            Send password reset email
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->

{% endblock content %}
