{% extends 'src/auth_base.html' %}
{% block content %}

<section class="signup">
    <div class="container">
        <div class="card text-center align-items-center my-5">
            <form method="POST" id="signup-form" class="signup-form">
                {% csrf_token %}
                <h2 class="form-title">Enter new password</h2>
                <div class="col-md-12 form-group p_star">
                    {{ form.password|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="btn btn-dark w-100 mt-3 p-2" value="Submit"/>
                </div>
            </form>

            {% include 'src/messages.html' %}

        </div>
    </div>
</section>

{% endblock content %}