{% extends 'src/auth_base.html' %}
{% block content %}


<div class="container mt-5">
    <div class="card text-center align-items-center">
        <div class="my-5 px-3">
            <h2 class="form-title mt-5">Password reset complete</h2>
            <p>Your password has been set. You may go ahead and log in now.</p>

            <a href="{% url 'account_login' %}">
                <button class="btn btn-dark w-100 mt-3 p-2">Login here</button>
            </a>

        </div>
    </div>
</div>


{% endblock content %}